/* body {
    background-color: rgb(37, 37, 37);
    color: rgb(221, 219, 219);
    font-family: Arial, Helvetica, sans-serif;
}

.App {
    height: 100vh;
    padding: 0px 100px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1 {
    text-align: center;
}

h2 {
    font-size: 1.2em;
    margin: 0.1em;
    text-align: left;
}

p {
    margin: 0.1em;
}

.recipes {
    display: flex;
    flex-flow: row wrap; 
    justify-content: left;
}

.recipe {
    width: 210px;
    gap: 10px;
    align-items: left;
    text-align: left;
    padding: 10px 20px;
}


.recipe img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    background-color: black;
}

.delete, .update, .add {
    border: border;
    padding: 3px 6px;
    background-color: rgb(20, 20, 20);
    color: white;
}

.form { 
    gap: 20px;
}

input {
    width: 250px;
    padding: 10px;
    border: none;
    font-size: medium;
    background-color: rgb(20, 20, 20);
}

.tagInput {
    width: 120px;
}

.formButton {
    border: none;
    padding: 15px;
    margin: 0px 20px 20px 1px;
    width: 120px;
    font-size: medium;
    background-color: black; 
    color: white;   
}

.formButton.cancelButton {
    background-color: rgb(119, 28, 28);
    width: 100px;
}



.ingredientInput {
    width: 40px;
    padding: 10px;
    margin: 5px
}

.ingredientsForm {
    display: inline;
} */